@model IEnumerable<OSLProject.Models.QAModel>

<div class="container">
    <h2>Questions And answers</h2>
    @if (User.IsInRole("Student"))
    {
        <a asp-action="Create" class="btn btn-primary">Create New Question</a>
    }

    @if (Model.Any())
    {
        @for (int i = Model.Count() - 1; i >= 0; i--)
        {
            var item = Model.ElementAt(i);
            <div class="card mb-3">
                <div class="card-header">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
                    <p class="card-text"><small class="text-muted">Questions asked by @Html.DisplayFor(modelItem => item.User) on @Html.DisplayFor(modelItem => item.CreatedAt)</small></p>
                </div>
                <div class="card-body">
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Content)</p>
                </div>

                <div class="card-footer">
                    <div class="replies">
                        <h5>Replies:</h5>
                        @for (int j = item.Replies.Count() - 1; j >= 0; j--)
                        {
                            var reply = item.Replies.ElementAt(j);
                            <div class="card mb-3">
                                <div class="card-header">
                                    <p class="card-text"><small class="text-muted">Reply by @reply.User on @reply.CreatedAt</small></p>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">@reply.Content</p>
                                </div>
                            </div>
                        }
                    </div>
                    @if (User.IsInRole("Teacher"))
                    {
                        <form asp-controller="Reply" asp-action="Create" method="post">
                            <div class="form-group">
                            <label for="replyContent">Your Reply:</label>
                            <textarea id="replyContent" name="replyContent" class="form-control" rows="3"></textarea>
                        </div>
                        <input type="hidden" name="questionId" value="@item.Id" />
                        <button type="submit" class="btn btn-primary">Reply</button>
                    </form>
                    }
                </div>

                

            </div>
        }
    }
    else
    {
        <p>No Questions found.</p>
    }
</div>
